h1 {
  padding-left: 10px;
  padding-top: 20px;
}

.navbar {
  background-color: darkgrey; 
  text-align: centre;
  color: white;             
}

.footer {
  background-color: grey;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

.header {
  background-color: grey;
  color: white;
  padding-bottom: 1rem;
  text-align: left;
  font-size: 48px;
}

ul {
  list-style-type: none;
}


.characterContainer {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.links {
  padding-right: 40px;
  padding-left: 10px;
  color: white;   
}

.infoScreen {
  font-size: 48px;
  padding: 20px;
}

.searchBox {
  display:flex;
}